#mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.904);
    transition: all 0.5s ease-out 0.01s;

  }

  #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 1px 1px rgb(255, 255, 255);

  }


  #mainNav .nav-link {
    transition: all 0.5s ease-out 0.01s;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.986);

  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 1px 1px rgb(255, 255, 255);

  }
  #mainNav .nav-link:active {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #000;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #000;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64A19D;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64A19D;
    outline: none;
    border-bottom: 0.25rem solid #64A19D;
  }

  .blocker{
      height: 100vh;
      background-image: url("DQB.gif");
      background-size: cover;
  }

  .flex{
    display: flex;
  }