
  .blocker{
    height: 100vh;
    background-image: url("https://i.imgur.com/Ar9kCpe.gif");
    background-size: cover;
}

/* .main-title{
  color: white;
   margin-top: 640px;
  margin-left: 50px;
  text-align: left; 
  font-size: 100px;
  
} */



.flex{
  display: flex;
}


.grid {
    padding-top: 5em;
    background-image: url("https://cdna.artstation.com/p/assets/images/images/024/538/828/original/pixel-jeff-clipc-s.gif");
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
   
}

.grid img {
    height:65vh;
    width: 100%;

    
}